/* Stylesheet for Kitties To Go website*/

* {
    box-sizing: border-box;
}

article {
    height: auto;
    width: auto;
    min-width: 800px;
    padding-top: 1rem;
    padding-left: 8em;
    padding-right: 1rem;
}

aside {
    width: 35%;
    min-width: 35%;
    padding-left: 8em;
    margin-right: 5em;
    height: auto;
    float: right;
    margin-bottom: 2rem;
}

#about-aside {
    float: right;
    background-color: #7ac4d6;
    width: 15%;
    border: 2pt solid;
    margin-left: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
}

#about-aside-right {
    float: left;
    background-color: #7ac4d6;
    width: 15%;
    border: 2pt solid;
    margin-left: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
}

#about-container {
    width: auto;
    padding-right: 2rem;
}

.about-h2 {
    text-shadow: 2px 2px 5px #2c9ab7;
}

body {
    font-family: sans-serif;
    text-align: justify;
}

button {
    background-color: #2c9ab7;
    font-weight: bold;
    width: 100%;
}

#booking-article-left {
    float: left;
    width: 30%;
}

#booking-article-right {
    float: right;
    width: 60%;
    padding-right: 2rem;
}

#booking-right-img {
    width: 100%;
    height: auto;

}

caption {
    font-weight: bolder;
}

.column {
    float: left;
}

.column2 {
    float: right;
}

.column-wrap {
    float: left;
}

figure {
    margin: auto;
}

footer {
    background-color: #3a3a3a;
    padding-top: 4em;
    padding-bottom: 3em;
    color: white;
    text-align: center;
    font-size: 14pt;
    clear: both;
}

.footer-padding {
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 2rem;
}

.featured-profile-container {
    border: 2pt solid;
    background-color: #2c9ab7;
    border-radius: 5pt;
}

.featured-profile-name {
    text-shadow: 2px 2px 5px white;
    margin-left: auto;
    margin-right: auto;
}

#header-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 2pt solid white;
    border-radius: 15pt;
}

header {
    background-color: #2c9ab7;
    padding-top: 4rem;
    padding-bottom: 4em;
    color: white;
}

#h2-color {
    color: #239ab9;
    font-size: x-large;
}

#kitten-img {
    width: 25em;
    min-width: 25em;
    height: 40em;
    padding: 1rem;
    background-color: #2c9ab7;
    border: 3pt solid #3a3a3a;
    border-radius: 5pt;
    position: relative;
}

.left {
    width: 25%;
    position: relative;
}

.main-p {
    font-size: 16pt;
}

.nav-1 {
    background-color: #ebebeb;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 8rem;
}

.nav-1-link{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.nav1-span-style {
    padding-left: 2rem;
    padding-right: 2rem;
}

.nav-2 {
    color: white;
    text-decoration: none;
}

.nav-2:first {
    color: white;
    text-decoration: none;
}

.nav2-span-style {
    padding-left: 1rem;
    padding-right: 1rem;
}

#page-header {
    padding-left: 8em;
    font-size: 52pt;
    font-weight: bolder;
}

#p1-container {
    width: 30%;
    padding-bottom: 2rem;
}

.profile-container {
    height: auto;
    width: 25%;
    display: inline-block;
    padding: 1rem;
}

.profile-pic {
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-name {
    text-align: center;
    text-shadow: 2px 2px 5px #2c9ab7;
    margin-left: auto;
    margin-right: auto;
}

.profile-h1 {
    text-align: center;
    font-size: 36pt;
    text-shadow: 2px 2px 5px #2c9ab7;
    padding-bottom: 3rem;
}

#quote {
    color: #7ac4d6;
    padding-bottom: 2rem;
}

.right {
    padding-left: 5em;
    float: inline-end;
    position: relative;    
}

.rate-table {
    text-align: center;
    width: 25em;
    min-width: 25em;
    padding: 2rem;
    background-color: #7ac4d6;
    border: 2pt solid;
    margin-bottom: 2rem;
}

#rates-article {
    height: auto;
    width: auto;
    min-width: 800px;
    padding-top: 1rem;
    padding-left: 8em;
    padding-right: 1rem;
}

.selection-table {
    width: auto;
    height: auto;
    min-width: 25em;
}

.side-p {
    font-size: large;
}

.side-link {
    color: #2c9ab7;
    text-decoration: none;
}

#subheader {
    padding-left: 8em;
    font-size: 36px;
    font-style: italic;
}

th {
    text-decoration: underline;
    text-underline-offset: 2pt;
}